* text=auto eol=lf
*.phar binary

/.github export-ignore
/tests export-ignore
/build export-ignore
/vendor export-ignore
/.cache export-ignore
/.deptrac.cache export-ignore
/.phpstan.cache export-ignore
/.phpunit.cache export-ignore
/.rector.cache export-ignore
/.sift export-ignore
/composer.lock export-ignore
/.editorconfig export-ignore
/phpunit.xml export-ignore
/phpstan.neon export-ignore
/rector.php export-ignore
/pint.json export-ignore
/box.json export-ignore
