<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         cacheDirectory=".cache/phpunit"
         colors="true"
         columns="max"
         failOnAllIssues="true"
         failOnEmptyTestSuite="true"
         failOnRisky="true"
         failOnWarning="true"
         beStrictAboutChangesToGlobalState="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         displayDetailsOnAllIssues="true"
         executionOrder="depends,defects"
         resolveDependencies="true">
  <testsuites>
    <testsuite name="Unit">
      <directory>tests/Unit</directory>
    </testsuite>
    <testsuite name="Integration">
      <directory>tests/Integration</directory>
    </testsuite>
    <testsuite name="EndToEnd">
      <directory>tests/EndToEnd</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory>src</directory>
    </include>
  </source>
  <coverage includeUncoveredFiles="true"/>
</phpunit>
